@import '../fonts/ico/style.css';
@import './variables.scss';
@import './FunnyLink.scss';
@import './Modal.scss';

@import url(https://fonts.googleapis.com/css?family=Cabin:400,500italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

::selection { background: rgba($cream, .5); }
::-moz-selection { background: rgba($cream, .5); }

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  background-color: $bg;
  color: $light-dark;
  font-family: 'Libre Baskerville', serif;
}

img {
  display: block;
}

.marged-top {
  margin-top: 3rem;
}

.row {
  display: flex;
  .col-def {
    padding: 2px;
  }
  .col {
    flex: 1;
    flex-shrink: 0;
    padding: 2px;
  }
  .col-2 {
    flex: 2;
  }
}

.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

header {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  h1 {
    font-size: 1.5rem;
  }
}

.summary {
  font-family: 'Cabin', sans-serif;
  color: $dark;
  font-size: 2rem;
  em {
    font-style: italic;
  }
  .strike {
    text-decoration: line-through;
  }
  margin: 4rem 0 7rem 0;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  p {
    line-height: 2rem
  }
  p + p {
    margin-top: 2rem;
  }
}
