@import '../fonts/ico/style.css';
@import './variables.scss';
@import './FunnyLink.scss';
@import './ExternalLink.scss';
@import './Modal.scss';

@import url(https://fonts.googleapis.com/css?family=Cabin:400,500italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

::selection { background: rgba($cream, .5); }
::-moz-selection { background: rgba($cream, .5); }

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  background-color: $bg;
  color: $light-dark;
  font-family: 'Libre Baskerville', serif;
}

img {
  display: block;
}

i {
  font-style: italic;
}

.marged-top {
  margin-top: 3rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.m1 {
  margin: .5rem;
}

.m2 {
  margin: 1rem;
}

.p3 {
  padding: 3rem;
}

.center {
  text-align: center;
}

.title {
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
}

.row {
  display: flex;
  &.row-wrap {
    flex-wrap: wrap;
  }
  &.row-column {
    flex-direction: column;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.row-end {
    justify-content: flex-end;
  }
  &.row-center {
    justify-content: center;
    align-items: center;
  }
  .col-def {
    margin: 5px;
  }
  .col {
    flex: 1;
    flex-shrink: 0;
    margin: 5px;
  }
  .col-2 {
    flex: 2;
  }
}

@media screen and (max-width: 900px) {
  .row {
    &.md-wrap {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 600px) {
  .row {
    .col-def {
      margin: 0;
    }
    .col {
      margin: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .row {
    &.sm-wrap {
      flex-wrap: wrap;
    }
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.bg-blue {
  background-color: #b3b1fc;
}

.card {
  background-color: #fff;
  padding: 2rem;
  color: #616161;
  min-width: 300px;
  .ExternalLink + .ExternalLink {
    margin-top: 8px;
  }
}

.std-size {
  max-width: 876px;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

header {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  h1 {
    font-size: 1.5rem;
  }
}

.summary {
  font-family: 'Cabin', sans-serif;
  color: $dark;
  font-size: 2rem;
  em {
    font-style: italic;
  }
  .strike {
    text-decoration: line-through;
  }
  margin: 4rem 0 7rem 0;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  p {
    line-height: 2rem
  }
  p + p {
    margin-top: 2rem;
  }
}
