.Modal-overlay {
  background: rgba(black, .8);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 2;
  .ion-close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: rgba(white, .7);
    z-index: 3;
    &:hover {
      color: white;
    }
  }
}

.Modal {
  padding: 1rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
  h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  p {
    line-height: 2rem;
  }
  em {
    font-weight: 900;
  }
}

@media screen and (max-width:600px) {
  .Modal-overlay {
    padding: 0;
    .ion-close {
      color: rgba(black, 0.7);
      &:hover {
        color: black;
      }
    }
  }
  .Modal {
    padding: 0;
    width: 100%;
    min-height: 100%;
  }
}
